<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Wimbledon{% endblock %}</title>
        <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
        <link rel="icon" href="{{ asset('images/logo.png') }}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fontsource-gotham5r@1.0.0/dist/fontsource-gotham5r.min.css">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
{% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
    {% block body %}
        {% block header %}
        <header class="header">
            <nav class="header__nav">
                <div class="header__nav__logo">
                    <a href="{{ path('app_home')}}"><img class="logo" src="{{ asset('/images/logo.png')}}" alt="Logo Wimbledon"></a>
                </div>
                <div class="header__nav__item">
                    <a href="{{ path('app_about')}}" {% if app.request.attributes.get('_route') == 'app_about' %}class="active"{% endif %}>A propos</a>
                    <a href="{{ path('app_services')}}" {% if app.request.attributes.get('_route') == 'app_services' %}class="active"{% endif %}>Services</a>
                    <a href="{{ path('app_contact')}}" {% if app.request.attributes.get('_route') == 'app_contact' %}class="active"{% endif %}>Contact</a>
                </div>
            </nav>
        </header>
        {% endblock %}

        {% block main %}
        {% endblock %}

        {% block footer %}
        <footer>
            <div class="footer">
                <div class="footer__services">
                    <h3>Services</h3>
                    <p>Web design</p>
                    <p>Development</p>
                    <p>Hosting</p>
                </div>
                <div class="footer__about">
                    <h3>About</h3>
                    <p>Company</p>
                    <p>Team</p>
                    <p>Careers</p>
                </div>
            </div>
            <div class="footer__content">
                <h1>Site Corporate</h1>
                <p>Wimbledon, joyau du tennis à Londres, incarne l'excellence sportive. <br>Son tournoi emblématique, le Wimbledon Championships, sur les courts de gazon, attire l'élite mondiale.<br> Les traditions élégantes, fraises et crème, ajoutent à son charme unique sur Church Road, créant une expérience inoubliable pour les passionnés du tennis.</p>
            </div>
            <div class="footer__media">
                <iconify-icon icon="bi:instagram" width="40px"></iconify-icon>
                <iconify-icon icon="bi:facebook" width="40px"></iconify-icon>
                <iconify-icon icon="bi:linkedin" width="40px"></iconify-icon>
            </div>
        </footer>
        {% endblock %}
    {% endblock %}
    </body>
</html>
